<div class="container register-form">
   <div class="form">
       <div class="note">
           <p>Add Member</p>
       </div>

       <div class="form-content">
           <div class="row">
<div class="modal-body">
    <form #addForm="ngForm" (ngSubmit)="onAddMember(addForm)">
    <div class="form-group">
       <label for="name"> </label>
       <input type="text" ngModel name="firstname" class="form-control" id="firstname" placeholder="FirstName" required>
    </div>
    <div class="form-group">
      <label for="name"> </label>
      <input type="text" ngModel name="lastname" class="form-control" id="lastname" placeholder="LastName" required>
   </div>
    <div class="form-group">
       <label for="email"> </label>
       <input type="email" ngModel name="email" class="form-control" id="email" placeholder="Email Address" required>
    </div>
    <div class="modal-footer">
       <button type="button"  id = "add-member-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
       <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" >Save changes</button>
    </div>
    </form>
 </div>
</div>            
</div>
</div>
</div>